<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="UI.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yolo</title>
  </head>
  <body>
    <div class="top-nav-bar">
      <div class="top-nav-bar-button">
        <label for="imageInput" style="cursor: pointer">Choose a file</label>
        <input id="imageInput" class="file-input" type="file" id="fileInput" name="fileInput" required />
      </div>
      <button class="top-nav-bar-button" type="button" onclick="uploadImage()">Upload Image</button>
      <input id="serverIp" type="text" name="text" class="input" placeholder="server ip address" />
    </div>
    <div id="resultContainer" style="display: none">
      <h2>Result</h2>
      <img id="originalImage" alt="Original Image" />
      <img id="processedImage" alt="Processed Image" />
    </div>

    <script>
      function uploadImage() {
        const serverIp = document.getElementById("serverIp").value ? document.getElementById("serverIp").value : "localhost";
        const fileInput = document.getElementById("imageInput");
        const resultContainer = document.getElementById("resultContainer");
        const originalImage = document.getElementById("originalImage");
        const processedImage = document.getElementById("processedImage");

        const formData = new FormData();
        formData.append("image", fileInput.files[0]);

        fetch(`http://${serverIp}:76/process_image`, {
          method: "POST",
          body: formData,
          responseType: "blob",
        })
          .then((response) => response.blob())
          .then((blob) => {
            // Display the original image
            const imageUrl = URL.createObjectURL(blob);
            originalImage.src = URL.createObjectURL(fileInput.files[0]);

            // Display the processed image received from the server
            processedImage.src = imageUrl;
            resultContainer.style.display = "block";
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
